
body {
  background-color: black;
}

.main {
  background-color: white;
  margin-top: 110px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
  position: relative;
  z-index: 1;
}

.main > div {
  display: inline-block;
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}

.ryu {
    width: 659px;
    height: 494px;
}
.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  width: 659px;
  height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
  display: none;
} 

.ryu-still {
  background-image: url('../images/ryu-standing-still.png'); 
}

.ryu-ready {
  background-image: url('../images/ryu-ready-position.gif');
}

.ryu-throwing {
  background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
  background-image: url('../images/ryu-cool.gif');
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  float: left;
  position: absolute;
  z-index: 10;
  top: 170px;
  left: 610px;
}

.wrapper {
  position: absolute;
  left: 650px;
  height: 425px;
  width: 600px;
  padding-top: 75px;
}

.text p {
  width: 50%;
  font-size: 1.5em;
}

.text p + p {
  margin-left: 275px;
}
